
div
{
  .money
  {
    display: block;
  }

  .money_collect, .money_pay, .money_spend
  {
    display: none;
  }
}

.collect, .spend
{

  .money
  {
    display: none;
  }

  .money_collect, .money_spend
  {
    display: block;
  }
}

.pay
{

  .money_pay
  {
    display: block;
  }
}